* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f0ebf8;
}

/* 공통 스타일 */
.commonBox {
    background-color: #fff;
    border: 1px solid #daece0;
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 12px;
}

#mainForm {
    width: 640px;
    margin: 10px auto;
    
}

#mainForm::before{
    content: '';
    display: block;
    width: 640px;
    height: 10px;
    background-color: #673ab7;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: absolute;
}

#mainForm fieldset {
    border: none;
}

#mainForm legend {
    font-size: 32px;
}

#mainForm .titleTxt{
    font-size: 14px;
    margin-bottom: 20px;
}

#mainForm .bar-progress {
    width: 100%;
}

#mainForm label {
    display: block;
    margin-bottom: 16px;
    font-size: 16px;
}

#mainForm input {
    display: block;
    width: 50%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #0000001f;
}

.btnWrapper {
    display: flex;
    justify-content: space-between;
}

#mainForm .btnSubmit {
    background-color: #7349BC;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 24px;
    cursor: pointer;
}

#mainForm .btnReset {
    background-color: transparent;
    border: none;
    color: #673ab7;
    cursor: pointer;
}