* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: inherit;
    font-weight: inherit;
}

li {
    list-style: none;
}
body {
    background-color: #ddd;
    font-family: "Arial";
}

.wrapper {
    /* background-color: tomato; */
    width: 400px;
    margin: 100px auto 0;
}

.bucket-box {
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgb(180, 180, 180);
}

.title {
    background-color: #fff;
    padding: 40px 0;
    color: #FF1493;
    /* border-radius: 30px 30px 0 0; */
}

.title h1 {
    border-left: 10px solid;
    padding-left: 25px;
    font-size: 25px;
    font-weight: 800;
}

.lists {
    border-top: 4px solid #ddd;
    /* border-radius: 0 0 30px 30px; */
    background-color: #efefef;
    padding: 30px;
}

.lists li {
    background-color: #fff;
    border: 4px solid #aaa;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 13px;
    font-size: 17px;
    word-spacing: -1px;
    letter-spacing: -0.5px;
}

.lists .bluebox {
    color: #1E91FF;
    border-color: currentColor;
}

.lists li:last-child {
    margin-bottom: 0;
}